.vscode/**
.vscode-test/
out/test/**
node_modules/
src/
test/
.github/
.editorconfig
eslint.config.cjs
.prettierrc*
tsconfig.json
.nvmrc
.npmrc
.gitignore
**/*.map
**/*.ts
pnpm-lock.yaml
pnpm-workspace.yaml
*.vsix
PUBLISHING.md
